<!DOCTYPE html>

<html>
<head>
    <title>Norima-ship</title>
</head>
<body>
    <h1>Norima-ship</h1>
    <h2>The best game in town</h2>
    <a>Create a new game</a>
    <p>Or join an existing one...</p>
    <div>
        <p>something</p>
    </div>
</body>
</html>